@tailwind base;
@tailwind components;
@tailwind utilities;


.neno-button {
    transition: all 0.3s ease-in-out;
}
.neno-button:hover {
    box-shadow: 0 0 15px rgb(245 158 11);
}

::-webkit-scrollbar {
    width: 1px; /* Largeur de la barre de défilement */
  }